.play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  .play button {
    font-size: 50px;
    padding: 10px;
  }

  .col{
    display: flex;
   justify-content:center;
   align-items:inherit;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}